{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "react/display-name": "off",
    "no-case-declarations": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
